<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu para tutoriafct -->
        <record model="ir.actions.act_window" id="action_tutoriafct_tree">
            <field name="name">Ver tutoriafcts</field>
            <field name="res_model">instituto.tutoriafct</field>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="view_tutoriafct_form"/>
        </record>
        <record model="ir.actions.act_window" id="action_tutoriafct_form">
            <field name="name">Nueva tutoriafct</field>
            <field name="res_model">instituto.tutoriafct</field>
            <field name="view_mode">form</field>
            <field name="view_id" ref="view_tutoriafct_tree"/>
        </record>

        <!-- Barra para tutoriafct -->
        <menuitem   id="menu_tutoriafct" 
                    name="Tutoriafcts"
                    parent="menu_principal"/>
        <menuitem   id="menu_tutoriafct_todos" 
                    name="Ver todos" 
                    parent="menu_tutoriafct" 
                    action="action_tutoriafct_tree"
                    groups="group_administrador,group_empresa,group_alumnado"/>
        <menuitem   id="menu_tutoriafct_nuevo" 
                    name="Nuevo" 
                    parent="menu_tutoriafct" 
                    action="action_tutoriafct_form"
                    groups="group_administrador"/>
    </data>
</odoo>
