<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu para alumnado -->
        <!-- Este registro define la acción de ver la lista de alumnos -->
        <record model="ir.actions.act_window" id="action_alumnado_tree">
            <field name="name">Ver alumnado</field>  <!-- Nombre de la acción -->
            <field name="res_model">instituto.alumnado</field>  <!-- Modelo al que se aplica la acción -->
            <field name="view_mode">tree,search</field>  <!-- Modos de vista disponibles para esta acción -->
            <field name="view_id" ref="view_alumnado_form"/>  <!-- Vista por defecto para esta acción -->
            <field name="search_view_id" ref="view_alumnado_search"/>  <!-- Vista de búsqueda para esta acción -->
        </record>

        <!-- Este registro define la acción de crear un nuevo alumno -->
        <record model="ir.actions.act_window" id="action_alumnado_form">
            <field name="name">Nueva alumnado</field>  <!-- Nombre de la acción -->
            <field name="res_model">instituto.alumnado</field>  <!-- Modelo al que se aplica la acción -->
            <field name="view_mode">form</field>  <!-- Modos de vista disponibles para esta acción -->
            <field name="view_id" ref="view_alumnado_tree"/>  <!-- Vista por defecto para esta acción -->
        </record>

        <!-- Barra para alumnado -->
        <!-- Este registro define el menú principal de alumnos -->
        <menuitem   id="menu_alumnado"
                    name="Alumnados"
                    parent="menu_principal"/>  <!-- Menú principal de alumnos -->

        <!-- Este registro define el submenú para ver todos los alumnos -->
        <menuitem   id="menu_alumnado_todos"
                    name="Ver todos"
                    parent="menu_alumnado"
                    action="action_alumnado_tree"
                    groups="group_administrador,group_alumnado"/>  <!-- Submenú para ver todos los alumnos -->

        <!-- Este registro define el submenú para crear un nuevo alumno -->
        <menuitem   id="menu_alumnado_nuevo"
                    name="Nuevo"
                    parent="menu_alumnado"
                    action="action_alumnado_form"
                    groups="group_administrador"/>  <!-- Submenú para crear un nuevo alumno -->
    </data>
</odoo>
