<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu para alumnado -->
        <record model="ir.actions.act_window" id="action_alumnado_tree">
            <field name="name">Ver alumnado</field>
            <field name="res_model">instituto.alumnado</field>
            <field name="view_mode">tree, form</field>
            <field name="view_id" ref="view_alumnado_form"/>
        </record>
        <record model="ir.actions.act_window" id="action_alumnado_form">
            <field name="name">Nueva alumnado</field>
            <field name="res_model">instituto.alumnado</field>
            <field name="view_mode">form</field>
            <field name="view_id" ref="view_alumnado_tree"/>
        </record>

        <!-- Barra para alumnado -->
        <menuitem   id="menu_alumnado" 
                    name="Alumnados" 
                    parent="menu_principal"/>
        <menuitem   id="menu_alumnado_todos" 
                    name="Ver todos" 
                    parent="menu_alumnado" 
                    action="action_alumnado_tree"
                    groups="group_administrador,group_alumnado"/>
        <menuitem   id="menu_alumnado_nuevo" 
                    name="Nuevo" 
                    parent="menu_alumnado" 
                    action="action_alumnado_form"
                    groups="group_administrador"/>
    </data>
</odoo>
